name: Deploy to Vercel

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  VERCEL_ORG_ID: ${{qnf6HTXKnF1M1K9ccnLgheVD}}
  VERCEL_PROJECT_ID: ${{prj_xbYokKedyfRR6WAjV9Uop0CEJS6f}}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: vercel/action@v6
        with:
          vercel-token: ${{RL7KhYIWiGqpt3wLSuCH2WnJ}}
          vercel-org-id: ${{qnf6HTXKnF1M1K9ccnLgheVD}}
          vercel-project-id: ${{prj_xbYokKedyfRR6WAjV9Uop0CEJS6f}}
          vercel-args: ${{ github.ref == 'refs/heads/main' && '--prod' || '' }}
